<html>

<head>
    <title>Spotify - Clone</title>
    <link rel="stylesheet" href="../CSS/spotify_home.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <input type="hidden" id='hidden_token'>
    <div class="fullview playerview">
        <div>
            <!-- top bar -->
            <div class="topgroup">
                <div class="searchbox">
                    <input type="text" placeholder="Search..." />
                </div>
                <div class="titlebox">
                    <a href="#/home">SAMPLE PLAYER APPLICATION</a>
                </div>
                <div class="userbox">
                    Signed in as <b>Default User</b>
                    <a href="#">Log out</a>
                </div>
            </div>
            <!-- mid group -->
            <div class="midgroup">
                <div class="menuview">
                    <div class="list scrollable">
                        <b>
                            <a href="#/" id='title-recommend-albun'>Playlists of Top List</a> <!-- Playlist Title -->
                        </b>
                        <ul class="menuitems" id='recommend-playlists'>
                            <!-- Elements of Playlist 
                            <li><a href="#/">playlist_prueba1</a></li>
                            <li><a href="#/">playlist_prueba2</a></li>
                            -->
                        </ul>
                        <b>
                            <a href="#">Create a new Playlist</a></b> <!-- Add event to create playlist -->
                        <b>
                            <a href="#">Your PlayLists</a>
                        </b>
                        <ul class="menuitems" id='user-playlists'>
                            <li>
                                <a>playList_created_1</a>
                            </li>
                            <li>
                                <a>playList_created_1</a>
                            </li>
                            <li>
                                <a>playList_created_1</a>
                            </li>
                        </ul>
                    </div>
                    <div class="preview" id='#image-track-preview'>
                        <!-- Imagen de la canción -->
                        <a href="#/albums/7Jl54jIBzvZjzED55yLj23">
                            <img class="ng-isolate-scope ng-pristine ng-valid" src="#" />
                        </a>
                        <p>
                            <!-- Info track. Name and artist name-->
                            <b>{{trackdata.name}}</b>
                            <a href="#/artists/{{trackdata.artists[0].id}}">
                                {{trackdata.artists[0].name}}
                            </a>
                        </p>
                        <!--Hasta aquí-->
                    </div>
                </div>
                <div class="mainview">
                    <div class="ng-scope">
                        <div class="ng-scope" id='content-main'>
                            <!-- Content main page -->
                            <header class="ng-scope" id='header-playlist'>
                                <!-- <div class="ng-isolate-scope ng-pristine ng-valid">
                                    <div class="cover"
                                        style="background-image:url(https://i.scdn.co/image/ab67706f00000003ca5a7517156021292e5663a6)">
                                    </div>
                                </div>
                                <h4 class="ng-hide">COLLABORATIVE PLAYLIST</h4>
                                <h4 class="">PLAYLIST</h4>
                                <h1 class="ng-binding">Peaceful Piano</h1>
                                <p class="ng-binding">Relax and indulge with
                                    beautiful piano pieces</p>
                                <div class="follower-count ng-binding">6,039,067 followers</div>  -->
                            </header>
                            <div id="extra-info-playlist">
                                
                                <!-- <hr class="ng-scope">
                                <p class="ng-scope ng-binding">Created by: <a href="#/users/spotify"
                                        class="ng-binding">spotify</a> · 297 songs · 4:29:10</p>
                                <hr class="ng-scope">
                                <br class="ng-scope"> -->

                            </div>

                            <table class="tracks ng-scope">
                                <!--Table of playlist's tracks-->
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>TRACK</th>
                                        <th>ARTIST</th>
                                        <th>TIME</th>
                                        <th>ALBUM</th>
                                        <th>ADDED</th>
                                    </tr>
                                </thead>
                                <tbody id='list-tracks'>
                                    
                                </tbody>
                            </table>
                            <br class="ng-scope">

                            <hr class="ng-scope">
                        </div>
                    </div>
                </div>
            </div>

            <!--Don't work-->
            <div class="bottomgroup">
                <div class="leftcontrols">
                    <div class="prevbutton">
                        <a><img src="#" alt='prev' /></a>
                    </div>

                    <div class="playbutton">
                        <a><img src="#" alt="play" /></a>
                        <!--<a ><img src="images/btn-pause.png" alt="pause"/></a>-->
                    </div>
                    <div class="nextbutton">
                        <a><img src="#" alt="next" /></a>
                    </div>
                    <div class="volume">
                        <input type="range" min="0" max="100" />
                    </div>
                </div>
                <div class="seekcontrols">
                    <div class="progress">{{ progress | displaytime }}</div>
                    <div class="duration">{{ duration | displaytime }}</div>
                    <div class="slider">
                        <input type="range" min="0" max="{{duration}}" />
                    </div>
                </div>
                <div class="rightcontrols">
                    <!--
						a ng-click="shuffle()">SHUF</a>
						a ng-click="repeat()">REP.</a>
						-->
                </div>
            </div>
        </div>
    </div>


    <script src="../JS/classes/Track.js"></script>
    <script src="../JS/classes/Playlist.js"></script>
    <script src="../JS/classes/User.js"></script>
    <script type="module" src="../JS/web-api-auth/functions.js"></script>
    <script type="module" src="../JS/web-api-auth/spotify_main.js"></script>
</body>

</html>

<!-- Both this file and the css file belong to the following repository: https://github.com/possan/webapi-player-example -->